<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
    
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2018 @Corporate Celinamax (<a href="http://www.easyfood.com.br">http://www.easyfood.herokuapp.com</a>)</p>
    <p class="lead">/*colocar texto aqui sobre o software*/
    <p class="lead">/*colocar texto aqui sobre o software*/
    <p class="lead">
  /*colocar texto aqui sobre o software*/
    <p class="lead">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
    </p>

  </section>
<!-- FIM DO CONTEÚDO -->
