<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
    
    </p>
    <p class="lead">
      Projeto da Disciplina Desenvolvimento de Software
    </p>
    <p class="lead">Copyright 2018 @Corporate Celinamax (<a href="http://www.easyfood.com.br">http://www.easyfood.herokuapp.com</a>)</p>
    <p class="lead">
        Este projeto propõe a criação do aplicativo Easy Food, o que permite de forma rápida e segura o usuário realizar e pagar seu pedido. 
      Neste aplicativo, o usuário pode visualizar e escolher os estabelecimentos de acordo com o Shopping ou (praça de alimentação) e acessar cardápios e 
      promoções. </p>
     <p class="lead"> O aplicativo proposto neste projeto, visa proporcionar ao usuário otimizar o tempo de acordo com os horários estabelecidos na sua rotina. 
       Aproveitar o horário de almoço para comprar um presente, pagar uma conta ou estudar, enquanto espera o preparo de uma rápida refeição, 
       sem o desconforto de enfrentar filas e sem a pressão de escolher rapidamente o pedido para não gerar desconforto para os demais frequentadores 
       de uma praça de alimentação. O Easy Food, proporciona aos frequentadores de shoppings, a autonomia de gerenciar parte de seu tempo em função das 
       responsabilidades diárias. Com uma interface fácil e agradável, o usuário visualiza o Menu de cardápios, combos e promoções, realiza e paga pelo 
       pedido, sendo notificado através de uma mensagem com o código em QRCODE para realizar a retirada da refeição.</p>
  </section>
<!-- FIM DO CONTEÚDO -->
