<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">  
        {{form.valid }}
        {{form.value | json}}

        <!--Retirei o form-->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>  
          </div>           
          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>  
             <mt-order-items [items]="cartItems()"
             (increaseQty)="increaseQty($event)"
             (decreaseQty)="decreaseQty($event)"
             (remove)="remove($event)"></mt-order-items> 
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">  <!--Eu não criei o componente input-->                 
                   <mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>     
                </div>
            </div>
          </div>  
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Total</p>
          <!--<mt-shopping-cart **Não consigo injetar está informação no componente compra para totalizar o valor da compra
                  [itemsValue]="itemsValue"
                  [totalValue]="totalValue()"
                ></mt-shopping-car>--> 
            </div>
          <!--retirei o form-->
          <div class="row">
              <div class="col-xs-12">
                <a href="order-summary.html" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
                </a>
              </div>
            </div>
          <!-- <div class="row"> Código na Aula 66 em 6:16'
              <div class="col-xs-12">
                <button (click)="checkOrder(form.value)" class="btn btn-success pull-right"
                  [disable]="cartItems().length === 0">
                    <i class="fa fa-credit-card"></i> Concluir Pedido
                </button>
              </div>
            </div> -->
    </section>
</section>
<!-- FIM DO CONTEUDO-->
