<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">        

        <!--Retirei o form-->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>  
          </div>         
          
          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>  
            {{items | json}}          
            <mt-order-items [items]="cartItems()"
                  (increaseQty)="increaseQty($event)"
                  (decreaseQty)="decreaseQty($event)" 
                  (remove)="remove($event)" ></mt-order-items>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">  <!--Eu não criei o componente input-->                 
                   <mt-radio [options]="paymentOptions" name="paymentOption" ngModel></mt-radio>     
                </div>

          </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <div class="table-responsive">
                <table class="table">
                  <tbody><tr>
                    <th style="width:50%">Itens:</th>
                    <td class="text-right">R$ 20,00</td>
                  </tr>                  
                  <tr>
                    <th>Total:</th>
                    <td class="text-right">R$ 28,00</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
            <!-- /.col -->
          </div>

        <!--retirei o form-->

        <div class="row">
          <div class="col-xs-12">
            <a href="order-summary.html" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
            </a>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->