<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h2 class="header-title">Listagem de Menus</h2>
            <button
              class="btn btn-primary"
              style="margin-right:5px;"
              [routerLink]="['/newmenu']"
            >
              Novo Menu
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="tabela-resultado">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nome:</th>
                    <th>Imagem:</th>
                    <th>Descricao</th>
                    <th>Preço:</th>
                    <th>restaurantId:</th>
                    <th>Editar:</th>
                    <th>Excluir:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let menu of menus"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-placement="top"
                  >
                    <td class="text-center">{{ menu.id }}</td>
                    <td class="text-center">{{ menu.name }}</td>
                    <td class="text-center">{{ menu.imagePath }}</td>
                    <td class="text-center">{{ menu.description }}</td>
                    <td class="text-center">{{ menu.price }}</td>
                    <td class="text-center">{{ menu.restaurantId }}</td>

                    <td class="text-center">
                      <button
                        class="btn btn-warning"
                        style="margin-right:5px;"
                        [routerLink]="['/editmenu', menu.id]"
                      >
                        <span class="glyphicon glyphicon-open-file"
                          >Editar</span
                        >
                      </button>
                    </td>
                    <td class="text-center">
                      <button
                        class="btn btn-danger"
                        style="margin-right:5px;"
                        (click)="removeRestaurant(menu.id)"
                      >
                        <span class="glyphicon glyphicon-trash">Excluir</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="text-center"
                      colspan="9"
                      *ngIf="menus.length == 0"
                    >
                      Nenhum Menu encontrado.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
